.livementions {
    width: 100%;
}
.country {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 4px;
    margin: 3px;
}
.country .name {
    
}
.country .count {
    color: #33f;
}
.visual .horizon {
    margin: 0px 0px 2px 0px;
}
.visual .horizon canvas {
    margin: 0px 5px 0px 0px;
}
.horizon .value {
    padding-left: 5px;
}
